<div class="row">
  <div class="col-md-8" *ngFor="let messagio of messagiosList">
    <p>
      {{messagio.date}}
    </p>
    <p>
      {{messagio.content}}
    </p>
    <p>
      {{messagio.emitter}}
    </p>
    <p>
      {{messagio.receiver}}
    </p>
  </div>
  <div class="col-md-2">  
  <input name="messagio_content" id="messagio_content" [(ngModel)]="newMessagio.content" placeholder="Write a message" class="form-control">
  </div>
  <div class="col-md-2">
    <button type="submit" class="btn btn-primary" (click)="sendMessage($event)">Send</button>
  </div>
</div>