@import 'node_modules/bootstrap/scss/bootstrap.scss';
/*@import '../node_modules/font-awesome/css/font-awesome.css';*/
header{
    text-align: center;
    box-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.5);
}
router-outlet{
    padding: 10px;
}