<form class="container">
    <div class="form-group row">
        <div class="col-3"></div>
        <div class="col-6">
            <input type="text" name="email" class="email form-control" id="email" [(ngModel)]="checkUser.email"
                placeholder="Email">
            <input type="password" name="password_si" class="password_si form-control" id="password_si" [(ngModel)]="checkUser.password"
            placeholder="Password"> 
            <button type="submit" class="btn btn-primary btn-chat_send form-control" (click)="check_user()" (click)="check_session()">Send</button>
        </div>
        <div class="col-3"></div>
    </div>
</form>