<div class="dashboard_container container">
  <div class="row">
    <div class="dashboard_users container col-3">
      <h4>
        Chat
      </h4>
      <div class="db_user row" *ngFor="let user of users">
        <div class="db_user_infos online_dot"></div>
        <div class="db_user_infos db_user_pp">
          <img class="db_user_img" src="../../assets/img/pp_blackcoffee.jpg" alt="{{user.first_name}} {{user.last_name}} profile picture">
        </div>
        <p class="db_user_infos db_users_name">
          <a (click)="talkto(user)" routerLink="/messagio">
            {{user.first_name}} {{user.last_name}}
          </a>
        </p>
        <p class="db_user_infos db_users_bio">
        </p>
        <i class="fas fa-file-alt" (mouseenter)="hover($event)" (mouseleave)="unhover($event)"></i>
      </div>
    </div>

    <div class="col-1">

    </div>
    <div class="dashboard_profile col-4" style="
    background: url('../../assets/img/aerroscape.jpg');
    background-position-x: 50%;
    background-position-y: 50%;">
      <div class="db_profile">
        <div class="db_profile_infos db_profile_pp">
          <img class="db_profile_img" src="../../assets/img/pp_blackcoffee.jpg" alt="profile picture">
        </div>
        <div class="db_profile_perso">
          <p class="db_profile_infos db_profile_name" *ngIf="user_session">
            {{user_session['first_name']}} {{user_session['last_name']}}
          </p>
          <p class="db_profile_infos db_profile_email" *ngIf="user_session">
            {{user_session['email']}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-1">

    </div>
    <div class="col-3 db_edit_profile container">
      <h4>
        Edit profile
      </h4>
      <div class="db_edit_profile_infos" *ngIf="user_session">
        <form class="form-group">
          <textarea #edit_profile_bio name="edit_profile_bio" (keydown.enter)="update_element(edit_profile_bio)" class="edit_profile_bio form-control edit_profile_elem"
            id="edit_profile_bio" value="{{user_session['bio']}}"></textarea>
          <input #edit_profile_first_name type="text" name="edit_profile_first_name" (keyup.enter)="update_element(edit_profile_first_name)"
            class="edit_profile_first_name form-control edit_profile_elem" id="edit_profile_first_name" value="{{user_session['first_name']}}">
          <input #edit_profile_last_name type="text" name="edit_profile_last_name" (keyup.enter)="update_element(edit_profile_last_name)"
            class="edit_profile_last_name form-control edit_profile_elem" id="edit_profile_last_name" value="{{user_session['last_name']}}">
          <input #edit_profile_email type="text" name="edit_profile_email" (keyup.enter)="update_element(edit_profile_email)"
            class="edit_profile_email form-control edit_profile_elem" id="edit_profile_email" value="{{user_session['email']}}">
        </form>
      </div>
    </div>
  </div>
</div>